* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
}


.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    padding-left: 10%;
    padding-right: 10%;
}

.frm-container{
    width: 450px;
    display: flex;
    gap: 20px;
}

.btn-primary{
    width: 100px;
    height: 40px;
}

.filenameTag{
    color: red;
    font-size: 7;
    font-style: italic;
}

